{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="{% static 'css/tech.css' %}">
</head>
<body>
<div class="overlay"></div>
<div class="container">
    <div class="header">
        <h1 style="margin:0;">用户登录</h1>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="logout-btn">登录</button>
    </form>
    <a href="{% url 'app_selector' %}" class="button">返回应用选择</a>
</div>
</body>
</html>
